.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* TodoItem.js */

.ItemButton {
  width: 95%;
  padding: 0;
  position: relative;
  color: #fff;
  background-color: #90AFC5;
  border: 0px;
  margin-bottom: 3px;
  padding: 0.5em;
  font-size: 25px;
}

/* todo pc and iphpne */

/* .ItemButton:hover {
  color: #fff;
  background-color: #5d4a3c;
} */

.CompletedItemButton {
  width: 95%;
  padding: 0;
  position: relative;
  color: #fff;
  background-color: #336B87;
  border: 0px;
  margin-bottom: 3px;
  padding: 0.5em;
  font-size: 25px;
}

/* Form.js */

.AddTodoInput {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 3px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1px #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 25px;
  color: #2A3132;
}

.AddTodoInput:focus {
  outline: 0;
  box-shadow: 0 0 0 2px #90AFC5;
}

.AddTodoButton {
  width: 50%;
  margin-top: 3px;
  font-size: 25px;
  color: #fff;
  background-color: #2A3132;
}

/* DeleteButton.js */

.DeleteButton {
  width: 50%;
  margin-top: 3px;
  margin-bottom: 10px;
  font-size: 25px;
  color: #fff;
  background-color: #763626;
}