.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* TodoItems.js */

.TodoItems-list {
  padding: 0;
  position: relative;
  color: #2d8fdd;
  /*背景色*/
  background: #f1f8ff;
  /*下のバーとの余白*/
  margin-bottom: 3px;
  line-height: 1.5;
  padding: 0.5em;
  /*ポチ消す*/
  list-style-type: none!important;
}

li:hover {
  background-color: rgb(61, 214, 214)
}